<template name="Card_expertise">
    <div class="Card_expertise">
        <div class="card_wrapper--expertise">
            <div class="card_head--expertise">
                <i class="{{props.icon}} card_icon--expertise"></i>
            </div>
            <div class="card_body--expertise">
                <h5 class="card_title--expertise">{{props.title}}</h5>
                <p class="card_text--expertise">{{props.text}}</p>
                <button class="card_button--expertise">Read more</button>
            </div>
        </div>
    </div>
</template>