<template name="Competence_block">
    <div class="competence_block">
        <h5 class="competence_block__title">{{props.title}}</h5>
        <div class="competence_block__body">
            <div class="competence_body__list_column">
                <ul>
                    {{#each item in props.list_items}}
                    <li class="competence_block__list_item">{{item}}</li>
                    {{/each}}
                </ul>
            </div>

            <div class="competence_body__icon_column">
                {{#each icon in props.icons}}
                <i class="{{icon}} icon_color--{{props.color}}"></i>
                {{/each}}
            </div>
        </div>
    </div>
</template>