<template name="Competence_block">
    <div class="Competence_block">
        <h5 class="competence_block_title">TITLE</h5>
        <div class="competence_block_body_section">
            <div class="competence_body__list_section">
                <ul>
                    <li class="competence_block_list_item">JavaScript</li>
                    <li class="competence_block_list_item">JavaScript</li>
                    <li class="competence_block_list_item">JavaScript</li>
                    <li class="competence_block_list_item">JavaScript</li>
                </ul>
            </div>

            <div class="competence_body__icon_section">
                icons here
            </div>
        </div>
    </div>
</template>