#Introduction_page {
    min-height: 60vh;
    background: url('./svg/introduction-page-figure.svg') no-repeat top left;
    display: grid;
    grid-template-rows: 1fr 3fr;
    padding: 0 15%;

    // lower the padding for mobile devices
    @media screen and (max-width: 430px) {
        padding: 0 8%;
    }
}

.introduction_page__title_row {
    position: relative;

    .introduction_title_wrapper {
        text-align: right;
        position: absolute;
        bottom: 0;
    }
}

.introduction_page__content_row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 2em;

    .my_web_portfolio_svg {
        height: 90%;
        width: 90%;

    }
}